<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout(~{::title}, ~{::body})}">
<head>
    <title>グループ加入 | スケジュール共有アプリケーション</title>
</head>
<body>
<h1 class="mt-3">グループ加入</h1>
<div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <a class="btn btn-outline-dark" href="../schedule/list.html" th:href="@{/schedule}">トップページ</a>
</div>
<form action="#" th:action="@{/groups/belonging}" method="post" th:object="${belongingForm}">
    <div class="mt-3">
        <label for="groupCodeInput" class="form-label">グループID</label>
        <input type="text" id="groupCodeInput" class="form-control" th:field="*{groupCode}"
               th:classappend="${#fields.hasErrors('groupCode')} ? is-invalid">
        <p class="invalid-feedback" th:if="${#fields.hasErrors('groupCode')}" th:errors="*{groupCode}">(errors)</p>
    </div>
    <div class="mt-3">
        <label for="passwordInput" class="form-label">パスワード</label>
        <input type="password" id="passwordInput" class="form-control" th:field="*{groupPassword}"
               th:classappend="${#fields.hasErrors('groupPassword')} ? is-invalid">
        <p class="invalid-feedback" th:if="${#fields.hasErrors('groupPassword')}" th:errors="*{groupPassword}">
            (errors)</p>
    </div>
    <div class="mt-3">
        <button type="submit" class="btn btn-primary">加入</button>
        <a href="./list.html" th:href="@{/groups}" class="btn btn-secondary">キャンセル</a>
    </div>
</form>
</body>
</html>
